* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    line-height: 2;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h2,
h3,
a {
    color: rgb(18, 18, 18)
}

a {
    text-decoration: none;
}



.logo {
    margin: 0;
    font-size: 2em;
}

.main-nav {
    margin-top: 5px;

}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #2e1a7b;
    font-size: 2em;
}

.main-nav a:hover {
    color:#180b4d;
}



.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #101010;
    background-color: #e4e6eb;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.headone {
    padding: 2;
    margin: 2;
    color:#90c6f5;
    text-align: center;
    font-size: 2em;
}

.nav-head {
    padding: 2;
    margin: 2;
    color: black;
    text-align: center;
    font-size: medium;
}



/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;

        .header {
            width: 100%;
            margin: 0 auto;
            max-width: 100%;
        }
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}