/* CodePen demo */
body {
  background: rgb(18, 18, 18);
  color: #dadadb;
  text-align: center;
  /* font-family: Arial, Helvetica; */
}

/* Custom dropdown */
.filter-selection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 10px; /* demo only */
  text-align: left;
  margin-bottom: 10px;
}

.filter-section select {
  background-color: #88dcd5;
  color: rgb(13, 28, 70);
  font-size: 1.2em;
  padding: .5em;
  padding-right: 2.5em;
  border: 1px solid #000;
  margin: 0;
  border-radius: 6px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  width: 200px;
}

.filter-section::after {
  background-color: rgb(13, 28, 70);
  color: #88dcd5;
  content: "\25BC";
  position: absolute;
  pointer-events: none;
  height: 1em;
  font-size: 1.2em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.filter-container {
  /* display: flex; */
  /* justify-content: center; */
}
.filter-section select[disabled] {
  color: rgba(0,0,0,.3);
}

.filter-section select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.dropdown-container {
  text-align: left;
  margin-bottom: 10px; /* Adjust as needed */
}

.dropdown-label {
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
}

.dropdown-wrapper {
  text-align: left;
}

.dropdown-label {
  display: block;
  margin-bottom: 5px;
}


